.hc-icon {
    &.hc-icon-inherit {
        font-size: inherit;
    }
    &.hc-icon-sm {
        font-size: 14px;
    }
    &.hc-icon-md {
        font-size: 20px;
    }
    &.hc-icon-lg {
        font-size: 36px;
    }
}