$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

$notosans-fontface-path: "~notosans-fontface/fonts";
@import "~notosans-fontface/scss/notosans-fontface-allweight";

$hc-icons-font-path: "~@healthcatalyst/cashmere/hcicons";
@import "~@healthcatalyst/cashmere/hcicons/hcicons";

@import "~@healthcatalyst/cashmere/scss/cashmere";
@import "~@healthcatalyst/cashmere/scss/slider";

// MUI Style Overrides
@import "./Accordian.scss";
@import "./Button.scss";
@import "./ButtonGroup.scss";
@import "./ButtonToggle.scss";
@import "./Chip.scss";
@import "./DataTable.scss";
@import "./IconButton.scss";
@import "./Icon.scss";
@import "./Navbar.scss";
@import "./Forms.scss";
@import "./Tabs.scss";

:export {
  font-family: $default-font-family;
  font-size: $default-font-size;
}
