@import "@healthcatalyst/cashmere/scss/cashmere";

.MuiIconButton-root {
  @include hc-icon-button();

  &.MuiIconButton-sizeSmall {
    height: 26px;
    width: 26px;
  }

  &.MuiIconButton-sizeMedium {
    height: 35px;
    width: 35px;
  }

  &.MuiIconButton-sizeLarge {
    height: 40px;
    width: 40px;
  }

  &:disabled {
    opacity: 0.35;
  }

  &.MuiIconButton-colorPrimary {
    color: $primary-action;
  }

  &.MuiIconButton-colorPrimary-alt {
    color: $primary-alt-action;
  }

  &.MuiIconButton-colorError {
    color: $red;
  }

  &.MuiIconButton-colorSecondary {
    color: $gray-600;
  }

  &.MuiIconButton-colorDefault {
    color: inherit;
  }

  &.MuiIconButton-colorInfo {
    color: $blue;
  }

  &.MuiIconButton-colorGreen,
  &.MuiIconButton-colorSuccess {
    color: $green;
  }

  &.MuiIconButton-colorPurple {
    color: $purple;
  }

  &.MuiIconButton-colorRed {
    color: $red;
  }

  &.MuiIconButton-colorWarning {
    color: $orange;
  }

  &.MuiIconButton-colorRuby-red {
    color: $ruby-red;
  }

  &.MuiIconButton-colorDeep-red {
    color: $deep-red;
  }

  &.MuiIconButton-colorRed-orange {
    color: $red-orange;
  }

  &.MuiIconButton-colorMagenta {
    color: $magenta;
  }

  &.MuiIconButton-colorPink {
    color: $pink;
  }

  &.MuiIconButton-colorLight-pink {
    color: $light-pink;
  }

  &.MuiIconButton-colorAzure {
    color: $azure;
  }

  &.MuiIconButton-colorTeal {
    color: $teal;
  }

  &.MuiIconButton-colorDark-green {
    color: $dark-green;
  }

  &.MuiIconButton-colorLight-green {
    color: $light-green;
  }

  &.MuiIconButton-colorBrown {
    color: $brown;
  }

  &.MuiIconButton-colorPurple-gray {
    color: $purple-gray;
  }

  &.MuiIconButton-colorYellow {
    color: $yellow;
  }

  &.MuiIconButton-colorYellowOrange {
    color: $yellow-orange;
  }

  &.MuiIconButton-colorTan {
    color: $tan;
  }
}
