.MuiIcon-root {
    &.MuiIcon-fontSizeInherit {
        font-size: inherit;
    }
    &.MuiIcon-fontSizeSmall {
        @include hc-icon-height(14px);
    }
    &.MuiIcon-fontSizeMedium {
        @include hc-icon-height($default-icon-size);
    }
    &.MuiIcon-fontSizeLarge {
        @include hc-icon-height(36px);
    }

    &.MuiIcon-colorPrimary {
        color: $primary-brand;
    }
    &.MuiIcon-colorPrimary-alt {
        color: $primary-alt-action;
    }
    &.MuiIcon-colorError {
        color: $red;
    }
    &.MuiIcon-colorSecondary {
        color: $gray-600;
    }
    &.MuiIcon-colorDefault {
        color: inherit;
    }
    &.MuiIcon-colorInfo {
        color: $blue;
    }
    &.MuiIcon-colorGreen, 
    &.MuiIcon-colorSuccess {
        color: $green;
    }
    &.MuiIcon-colorPurple {
        color: $purple;
    }
    &.MuiIcon-colorRed {
        color: $red;
    }
    &.MuiIcon-colorWarning {
        color: $orange;
    }
    &.MuiIcon-colorRuby-red {
        color: $ruby-red;
    }
    &.MuiIcon-colorDeep-red {
        color: $deep-red;
    }
    &.MuiIcon-colorRed-orange {
        color: $red-orange;
    }
    &.MuiIcon-colorMagenta {
        color: $magenta;
    }
    &.MuiIcon-colorPink {
        color: $pink;
    }
    &.MuiIcon-colorLight-pink {
        color: $light-pink;
    }
    &.MuiIcon-colorAzure {
        color: $azure;
    }
    &.MuiIcon-colorTeal {
        color: $teal;
    }
    &.MuiIcon-colorDark-green {
        color: $dark-green;
    }
    &.MuiIcon-colorLight-green {
        color: $light-green;
    }
    &.MuiIcon-colorBrown {
        color: $brown;
    }
    &.MuiIcon-colorPurple-gray {
        color: $purple-gray;
    }
    &.MuiIcon-colorYellow {
        color: $yellow;
    }
    &.MuiIcon-colorYellowOrange {
        color: $yellow-orange;
    }
    &.MuiIcon-colorTan {
        color: $tan;
    }
}